* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #189A46;
    --secondary: #f53626;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
:root {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}
[data-theme="dark"] {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #afafaf;
    --bg-color: #151515;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #222;
    --dropdown-color: #151515;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}
header.nav-fixed {
    padding: 0px;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
.fixed-top {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
}
header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.navbar .navbar-brand:hover {
    opacity: 0.95;
}
.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
body a, button, .btn {
    cursor: pointer !important;
    font-family: 'Jost', sans-serif;
}
a {
    color: #189A46;
    text-decoration: none;
    background-color: transparent;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}.sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: var(--secondary);
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
@media (max-width: 1080px) {
    .hny-title {
        font-size: 35px !important;
        line-height: 40px;
    }
}
h5, .h5 {
    font-size: 1.25rem;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}
@media only screen and (max-width: 1440px) {
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 10px;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}
nav ul li {
    display: inline-block;
}
.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: var(--heading-color);
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
nav ul li a, nav ul li a::after, nav ul li a::before {
    transition: all .5s;
}

.w3l-about-breadcrumb {
    margin-top: 90px;
    background: url(/img/banner4.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 1em 0;
}
.text-center {
    text-align: center !important;
}
.w3l-about-breadcrumb::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
}
*, ::before, ::after {
    box-sizing: border-box;
}
@media (min-width: 576px) {
    .pb-sm-5, .py-sm-5 {
        padding-bottom: 3rem !important;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

.w3l-footer .copy-footer-28 a {
    color: var(--secondary-color);
    opacity: 0.9;
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}
@media (max-width: 1200px) {
    h2, .h2 {
        font-size: calc(1.325rem + 0.9vw);
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .pb-md-3, .py-md-3 {
        padding-bottom: 1rem !important;
    }
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem !important;
}
.w3l-about-breadcrumb h2.title {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.w3l-footer ul.social-icons li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}
.w3l-about-breadcrumb .breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}
li {
    list-style-type: none;
}
button, input, select, label, li {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Jost', sans-serif;
}

.w3l-about-breadcrumb .breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}
.w3l-about-breadcrumb .breadcrumbs-custom-path li span.fa {
    font-size: 12px;
    vertical-align: 2px;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-size: inherit;
    line-height: inherit;
}
textarea {
    -webkit-appearance: textarea;
    color: text;
    background-color: -webkit-control-background;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
input, textarea, keygen, select, button {
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    font-family: system-ui;
    font-variant-caps: normal;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
input::placeholder {
    white-space: pre;
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: initial;
}
div {
    word-wrap: break-word;
    -webkit-nbsp-mode: space;
    line-break: after-white-space;
    -webkit-user-modify: read-write-plaintext-only;
}
::placeholder {
    -webkit-text-security: none;
    color: darkgray;
    pointer-events: none;
}
input, textarea, keygen, select, button, meter, progress {
    writing-mode: horizontal-tb;
}
button, input {
    overflow: visible;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}
.text-primary {
    color: #1db954 !important;
}
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.w3l-footer footer.footer-28 {
    background: #111;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.w3l-footer h6.footer-title-28 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
} 
.w3l-footer .footer-list-28 ul li, .w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
    list-style: none;
    margin-bottom: 5px;
}
@media (min-width: 768px) {
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}
h6, .h6 {
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.w3l-footer .footer-list-28 ul li a, .w3l-footer .footer-list-28 ul li p {
    font-weight: normal;
    font-size: 16px;
    color: var(--para-color);
    line-height: 28px;
}
.w3l-footer ul.social-icons {
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
@media (min-width: 768px) {
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}
h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.w3l-footer .midd-footer-28 {
    background: #111;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.w3l-blog-block {
    background-color: var(--bg-light);
}
.hny-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}.card {
    border: none;
    background: var(--bg-color);
    transition: .3s ease;
    border-radius: 8px;
}.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    border: none;
}
.p-0 {
    padding: 0 !important;
}
.position-relative {
    position: relative !important;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
a, a:hover {
    text-decoration: none;
    color: #189A46;
}
.card-header img {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.d-block {
    display: block !important;
}
.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}
.card-img, .card-img-top, .card-img-bottom {
    flex-shrink: 0;
    width: 100%;
}
body img {
    border-radius: 10px;
    -weebkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.blog-details {
    background: var(--bg-color);
    padding: 30px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

a.blog-desc {
    display: block;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 6px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    text-transform: capitalize;
}
a.page-numbers {
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
    width: 20px;
    display: block;
    text-align: center;
}
span.page-numbers {
    display: block;
    text-align: center;
    border: 0;
    color: var(--primary-color);
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}
.page-pagination li {
    display: inline-block;
    margin: 0 5px;
}
.author {
    color: #999;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}
.align-items-center {
    align-items: center !important;
}
.author a {
    color: var(--heading-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
li.meta-item {
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
    color: #888;
}
li.meta-item:last-child {
    margin-right: 0px;
}
@media (min-width: 768px) {
    .mt-md-0, .my-md-0 {
        margin-top: 0 !important;
    }
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
@media (max-width: 992px) {
    .contact-viewhny {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
.contact-viewhny {
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
}
.d-grid {
    display: grid;
}
@media (min-width: 768px) {
    .mt-md-4, .my-md-4 {
        margin-top: 1.5rem !important;
    }
}
.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}
.twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.map-content-9 form input, .map-content-9 form textarea {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #252b33;
    -webkit-appearance: none;
    padding: 0px 16px;
    border: 1px solid var(--bg-light);
    background: var(--bg-light);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    height: 55px;
}
textarea.form-control {
    height: auto;
}
textarea {
    overflow: auto;
    resize: vertical;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.map-content-9 form textarea {
    resize: none;
    min-height: 140px;
    padding: 12px 16px;
}
.w3l-contact-1 .btn-style {
    float: right;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
}
.btn-primary {
    color: #fff;
    background-color: #189A46;
    border-color: #189A46;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, input, select, label, li {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Jost', sans-serif;
}
button {
    border-radius: 0;
}
form {
    display: block;
    margin-top: 0em;
}
.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}
.cont-tophny {
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px;
}
.cont-detailshnyf span.fa {
    font-size: 22px;
    color: #d63447;
    display: block;
    margin-top: 3px;
}
.margin-up {
    margin-top: 2.5rem;
}

.map-iframe iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: 10px solid #eee;
}
iframe {
    border: none;
    display: block;
}
