* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #189A46;
    --secondary: #f53626;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
:root {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}
[data-theme="dark"] {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #afafaf;
    --bg-color: #151515;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #222;
    --dropdown-color: #151515;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}
header.nav-fixed {
    padding: 0px;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
.fixed-top {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
}
header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.navbar .navbar-brand:hover {
    opacity: 0.95;
}
.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
body a, button, .btn {
    cursor: pointer !important;
    font-family: 'Jost', sans-serif;
}
a {
    color: #189A46;
    text-decoration: none;
    background-color: transparent;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}
@media only screen and (max-width: 1440px) {
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 10px;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}
nav ul li {
    display: inline-block;
}
.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: var(--heading-color);
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
nav ul li a, nav ul li a::after, nav ul li a::before {
    transition: all .5s;
}
.mode-container {
    width: 24px;
    height: 24px;
    padding: 3px 0;
    margin-left: 20px;
}
.mode-container i.gg-sun {
    display: none;
}
.gg-sun, .gg-sun::after, .gg-sun::before {
    box-sizing: border-box;
    display: block;
    width: 24px;
}
.gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}
.gg-sun::before {
    transform: rotate(-45deg);
}
.gg-sun::after, .gg-sun::before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}
.gg-sun, .gg-sun::after, .gg-sun::before {
    box-sizing: border-box;
    display: block;
    width: 24px;
}
.gg-sun::after {
    transform: rotate(45deg);
}

.mode-container i.gg-moon {
    display: block;
}


.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
}
.gg-moon, .gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}
.theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    margin: 0;
}
.theme-switch input {
    display: none;
}
button, input {
    overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}
input:checked + .mode-container i.gg-sun {
    display: block;
}
.mode-container i.gg-sun {
    display: none;
}
.w3l-about-breadcrumb {
    margin-top: 90px;
    background: url(/img/banner4.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 1em 0;
}
.text-center {
    text-align: center !important;
}
.w3l-about-breadcrumb::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
}
*, ::before, ::after {
    box-sizing: border-box;
}
@media (min-width: 576px) {
    .pb-sm-5, .py-sm-5 {
        padding-bottom: 3rem !important;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

.w3l-footer .copy-footer-28 a {
    color: var(--secondary-color);
    opacity: 0.9;
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}
@media (max-width: 1200px) {
    h2, .h2 {
        font-size: calc(1.325rem + 0.9vw);
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem !important;
}
.w3l-about-breadcrumb h2.title {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.w3l-footer ul.social-icons li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}
.w3l-about-breadcrumb .breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}
li {
    list-style-type: none;
}
button, input, select, label, li {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Jost', sans-serif;
}

.w3l-about-breadcrumb .breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}
.w3l-about-breadcrumb .breadcrumbs-custom-path li span.fa {
    font-size: 12px;
    vertical-align: 2px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}

.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.w3l-content-6 .content-info-in {
    align-items: center;
}
.row {
    display: flex;
    
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
    .pl-lg-4, .px-lg-4 {
        padding-left: 1.5rem !important;
    }
}
@media (min-width: 992px) {
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}
@media (max-width: 1200px) {
    h3, .h3 {
        font-size: calc(1.3rem + 0.6vw);
    }
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.text-left {
    text-align: left !important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}



.w3l-content-6 .content-6-mian h4 {
    font-size: 22px;
    line-height: 32px;
    opacity: 0.9;
}
p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Jost', sans-serif;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}
@media (min-width: 992px) {
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}
.w3l-feature-1 .feature-1sec {
    background: url(/img/banner2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
}
.w3l-feature-1 .feature-1sec::before {
    content: "";
    background-color: rgba(0, 4, 8, 0.69);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
@media (min-width: 992px) {
    .pb-lg-5, .py-lg-5 {
        padding-bottom: 3rem !important;
    }
}
.w3l-feature-1 .feature-1-content {
    margin-left: auto;
    max-width: 640px;
    text-align: left;
}
@media (min-width: 992px) {
    .pb-lg-3, .py-lg-3 {
        padding-bottom: 1rem !important;
    }
}
@media (min-width: 992px) {
    .pt-lg-3, .py-lg-3 {
        padding-top: 1rem !important;
    }
}     
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background: var(--bg-color);
    color: var(--font-color);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: var(--secondary);
}
h3.hny-title.two {
    color: #fff;
}
@media (max-width: 1080px) {
    .hny-title {
        font-size: 35px !important;
        line-height: 40px;
    }
}
.hny-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.w3l-feature-1 .feature-1-content p {
    color: #fff;
    opacity: 0.7;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.w3l-feature-1 .history-grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
}
.w3l-feature-1 .history-grids h5.year {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}
@media (min-width: 992px) {
    .pb-lg-4, .py-lg-4 {
        padding-bottom: 1.5rem !important;
    }
}
@media (min-width: 992px) {
    .text-lg-right {
        text-align: right !important;
    }
}
@media (min-width: 992px) {
    .pr-lg-4, .px-lg-4 {
        padding-right: 1.5rem !important;
    }
}
@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.w3l-content-4 .content-info-in h6 {
    margin: 0px 0 6px 0;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
@media (min-width: 992px) {
    .mb-lg-5, .my-lg-5 {
        margin-bottom: 3rem !important;
    }
}
@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}
.w3l-content-4 .content4-icon {
    color: var(--primary-color);
    font-size: 44px;
    text-align: center;
}
.w3l-content-4 .content4-icon span.fa {
    margin-top: 4px;
    vertical-align: super;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.w3l-content-4 .content4-right-info {
    padding-left: 0;
}
@media (min-width: 768px) {
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}
body img {
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
}
.w3l-team-main .team {
    background: var(--bg-light);
}
.w3l-team-main .team-wrap {
    margin-bottom: 44px;
}
@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.w3l-team-main .column {
    overflow: hidden;
}
.position-relative {
    position: relative !important;
}
.w3l-team-main h3.name-pos, .w3l-team-main .social {
    margin-top: 16px;
}
.w3l-team-main .social a {
    display: inline-block;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    background: var(--bg-light);
    color: var(--primary-color);
}
.w3l-team-main .social a span {
    font-size: 12px;
    line-height: 30px;
    display: block;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.w3l-footer footer.footer-28 {
    background: #111;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.w3l-footer h6.footer-title-28 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
} 
.w3l-footer .footer-list-28 ul li, .w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
    list-style: none;
    margin-bottom: 5px;
}
@media (min-width: 768px) {
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}
h6, .h6 {
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.w3l-footer .footer-list-28 ul li a, .w3l-footer .footer-list-28 ul li p {
    font-weight: normal;
    font-size: 16px;
    color: var(--para-color);
    line-height: 28px;
}
.w3l-footer ul.social-icons {
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
@media (min-width: 768px) {
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}
h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.w3l-footer .midd-footer-28 {
    background: #111;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}